.bottom-form-container {
    padding: 0 50px;

    @include media(w768) {
        padding: 0;
    }
}
.bottom-form {
    display: flex;
    justify-content: center;
    flex-flow: wrap column;

    &__label {
        display: block;
        margin-bottom: 20px;
    }

    &__btn {

    }
}