.sec1 {
    background-image: url("../img/sec1-bg.jpg");
    background-position: center bottom;
    overflow: hidden;
    padding-bottom: 340px;

    @include media (w1024) {
        padding-bottom: 220px;
    }

    &__img {
        position: absolute;
        left: 40%;
        bottom: 50px;
        z-index: 2;

        &_thanks {
            left: 45%;
            bottom: 50px;
        }

        @include media (w1024) {
            left: 40%;
            max-width: 600px;
        }

        @include media (w768) {
            left: auto;
            right: -130px;
            max-width: 400px;
        }
    }

    &__container {
        //position: 
    }

    &__block {
        background-color: rgba(255,255,255,0.9);
        padding: 70px 30% 100px 140px;
        position: relative;

        @include media (w1024) {
            padding: 30px 30% 70px 80px;
        }

        @include media (w768) {
            margin-left: -$container-side-padding-tablet;
            margin-right: -$container-side-padding-tablet;
            padding: 30px 20px 60px 60px;
        }

        &_thanks {
            padding: 40px 34% 70px 40px;

            @include media (w768) {
                padding: 30px 100px 70px 30px;
            }
        }

        & > div,
        & > p {
            position: relative;
            z-index: 2;
        }
    }

    &__btn {
        transform: translateY(-50%);
        position: absolute;
        top: 100%;
        z-index: 3;

        @include media (w768) {
            left: 30px;
            width: calc(100% - 60px);
        }
    }
}