$sec6-bg: #eae9e9;

.sec6 {
    background-color: $sec6-bg;
    padding-top: 80px;
    padding-bottom: 125px;

    @include media(w1024) {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    @include media(w768) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    br {

        @include media(w768) {
            display: none;
        }
    }

    &__list {
        display: flex;

        @include media(w768) {
            flex-flow: column;
        }
    }

    &__list-item {
        padding: 0 10px;
        width: calc(100% / 3);

        @include media(w768) {
            margin-bottom: 20px;
            padding: 0;
            width: 100%;
        }
    }

    &__list-img {
        width: 100%;
    }
}