.sec8 {
    background-image: url("../img/sec9-bg.jpg");
    padding: 100px 0 90px;
    position: relative;

    @include media(w1024) {
        padding: 60px 0;
    }

    @include media(w768) {
        padding: 0;
    }

    &:before {
        content: "";
        background-color: $main-red-bg;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;

        @include media(w768) {
            background-color: transparent;
        }
    }

    &__row {
        display: flex;

        @include media(w768) {
            flex-flow: column;
            margin-left: -$container-side-padding-tablet;
            margin-right: -$container-side-padding-tablet;
        }
    }

    &__col {
        padding: 0 20px;
        width: 50%;

        &_text {

            @include media(w768) {
                background-color: $main-red-bg;
                flex-flow: column;
            }
        }

        @include media(w768) {
            padding: 30px $container-side-padding-tablet;
            width: 100%;
        }
    }
}