* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    position: relative;
    min-width: 320px;
}