.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-icon-download {
	font-size:(30.7/10)*1rem;
	width:(32/30.7)*1em;
}
.icon-sec2-bg {
	font-size:(652.5/10)*1rem;
	width:(649.6/652.5)*1em;
}
