$trans: all 0.3s ease;

$content-max-width: 1180px;

$container-side-padding-pc: 30px;
$container-side-padding-tablet: 18px;

$input-font-size-pc: 25px;
$input-font-size-tablet: 15px;
$input-font-size-mobile: $input-font-size-tablet;

$btn-height-pc: 94px;
$btn-height-tablet: 56px;
$btn-height-mobile: 50px;

$btn-font-size-pc: $input-font-size-pc;
$btn-font-size-tablet: 15px;
$btn-font-size-mobile: $btn-font-size-tablet;

$main-green: #a6c64f;
$main-red-bg: #ff0101;
$main-gray: #727272;
$main-red: #d80100;
$header-phone: #f10302;
$btn-main-bg: #ff2727;
$footer-bg: white;
$footer-text: black;