footer.footer
    div.container.footer__container
        div.footer__block.footer__block_social
            p.footer__text.footer__text_copy.
                © 2017, Франшиза “Ваш Русичъ”
            //div.footer__social
                p.footer__text.footer__text_social-title.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-facebook
                    li.footer__social-item
                        a(href="" target="_blank").footer__link.footer__link_social
                            i.fa.fa-tripadvisor
        div.footer__block.footer__block_contacts
            p.footer__text.footer__text_adress.
                Отдел по развитию г.Братск: ул.25-летия БГС, 49а
            a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                Политика конфиденциальности
        div.footer__block.footer__block_feedback
            a(href="tel:83953409323" data-phone="83953409323").footer__link.footer__phone.
                #{phone}
            a().footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок