section.sec.sec1
    include header
    img(src="img/sec1-img.png", alt="").sec1__img
    div.container.sec1__container
        div.sec1__block
            div.decor-letter
                p.semibold.l.color-red.
                    таньте хозяином современного магазина самообслуживания с годовым доходом от 6 млн рублей
                div.decor-letter__letter.color-red.
                    с
            p.s.mb1.
                Можно ли браться за это, если нет опыта работы в сфере торговли?
            p.s.mb3.
                Насколько серьезная поддержка будет со стороны франчайзера?
            p.s.color-red.mb0.
                Ответы на эти и другие вопросы - в презентации
            button.btn-round.btn-round_download.sec1__btn.js-small-btn.
                Скачать презентацию