section.sec.sec2
    div.container
        div.sec2__text
            div.decor-letter
                p.semibold.l.color-red.
                    ольшинство людей предпочтет сделать покупку в магазине, который находится поближе к их дому
                div.decor-letter__letter.color-red.
                    б
            p.s.mb1.semibold.
                Преимущества магазина "Ваш Русичъ":
            ul.sec2__list.mb2
                li.sec2__list-item.
                    территориальная близость к потребителю
                li.sec2__list-item.
                    система самообслуживания
                li.sec2__list-item.
                    продуманный ассортимент, расчитанный как на покупателей сегмента эконом, так и на покупателей с ожиданиями и повышенными закупочными способностями
                li.sec2__list-item.
                    особое отношение к клиенту и индивидуальный подход
            p.m.color-red.
                <span class="bold">Наша цель -</span> дать людям возможность быстро совершать небольшие покупки. Совершая покупку наш клиент экономит самое дорогое - время!
    
    img(src="img/sec2-img.png", alt="").sec2__img