section.sec.sec3
    div.container
        div.sec-border.sec3__border
            p.l.bold.color-white.ta-center.mb0.
                Сеть магазинов самообслуживания “Ваш Русичъ” обеспечивает продуктами жителей г.Братск с 1994 года