section.sec.sec4
    div.container
        div.sec4__list.mb3
            div.sec4__list-item
                div.sec4__list-number.
                    01
                div.sec4__list-text.
                    На сегодняшний день наша сеть состоит из пяти розничных магазинов, оптово-розничного центра и двух распределительных центров
            div.sec4__list-item
                div.sec4__list-number.
                    02
                div.sec4__list-text.
                    Мы первые на рынке внедрили полноформатную систему самообслуживания, и продолжаем задавать планку качества работы для других магазинов города
            div.sec4__list-item
                div.sec4__list-number.
                    03
                div.sec4__list-text.
                    Клиенты выбирают нас за дружелюбный сервис, ассортимент из более чем 10 000 наименований, оступные цены и удобный формат «у дома»
        div.ta-center.sec4__btn-block
            p.l.color-red.semibold.mb2.
                Общий оборот нашей сети составляет 300+ млн рублей в год - и в 2017 году мы планируем увеличить его вдвое
            button.btn-round.btn-round_download.js-small-btn.
                Скачать презентацию
    div.sec4__bottom
        img(src="img/sec4-img.png", alt="").sec4__img
        div.container
            div.sec4__bottom-text.mb2
                div.decor-letter
                    p.semibold.l.color-red.
                        таньте частью большой семьи – откройте магазин «Ваш Русичъ» в вашем городе!
                    div.decor-letter__letter.color-red.
                        с
                p.m.color-gray.
                    Мы заинтересованы в развитии сети – и поделимся с вами всеми наработками за 24 года практики 
            div.sec4__advantage
                div.sec4__advantage-bigitem
                    div.sec4__advantage-note
                        img(src="img/sec4-img.png", alt="").sec4__img-mobile
                        p.color-white.m.
                            Вы можете рассчитывать на исключительную поддержку от команды <span class="semibold">франшизы «Ваш Русичъ»:</span>
                div.sec4__advantage-item
                    div.sec4__advantage-item-border
                        img(src="img/sec5-icon1.png", alt="")
                    p.
                        Предоставим рекомендации по выбору и подготовке помещения, наружного и внутреннего оформления
                div.sec4__advantage-item
                    div.sec4__advantage-item-border
                        img(src="img/sec5-icon2.png", alt="")
                    p.
                        Предоставим технологию расстановки торгового оборудования и помощь в адаптации ее к помещению, а также рекомендации по выбору поставщика
                div.sec4__advantage-item
                    div.sec4__advantage-item-border
                        img(src="img/sec5-icon3.png", alt="")
                    p.
                        Рассчитаем срок окупае-мости ваших инвестиций, с учетом показателей и факторов вашего региона и поможем сократить первоначальные затраты на открытие магазина
                div.sec4__advantage-item
                    div.sec4__advantage-item-border
                        img(src="img/sec5-icon4.png", alt="")
                    p.
                        Окажем онлайн-поддержку по финансовым, юридическим, маркетинговым, производственным и другим вопросам
                div.sec4__advantage-item
                    div.sec4__advantage-item-border
                        img(src="img/sec5-icon5.png", alt="")
                    p.
                        Поможем сформировать ассортиментную матрицу, предоставим все контакты рекомендуемых поставщиков и условия работы с ними
                div.sec4__advantage-item
                    div.sec4__advantage-item-border
                        img(src="img/sec5-icon6.png", alt="")
                    p.
                        Предоставим отлаженные и описанные методы по найму персонала, стандарты по работе с товаром и обслуживанию покупателей
                div.sec4__advantage-item
                    div.sec4__advantage-item-border
                        img(src="img/sec5-icon7.png", alt="")
                    p.
                        Возьмем на себя все труды по продвижению и рекламе