section.sec.sec5
    div.container
        div.sec-border.sec5__border.color-white
            div.sec5__border-item
                p.l.semibold.mb0.
                    Cильный бренд и мощная поддержка позволят вам зарабатывать
            div.sec5__border-item
                p.xl.semibold.
                    от 474 000 рублей
                p.s.
                    ежемесячно начиная со второго месяца работы 


