section.sec.sec6
    div.container.ta-center
        p.m.mb1.
            Скачайте подробную финансовую таблицу бизнеса
        button.btn-round.btn-round_download.js-small-btn.mb2.
            Скачать презентацию
        p.l.mb2.
            Посмотрите, как будет выглядеть ваш магазин<br> уже <span class="bold">через 4 месяца</span> после начала работы с нами
        div.sec6__list
            - for(var i = 1; i <= 3; i++) {
                div.sec6__list-item
                    img(src="img/sec7-img" + i + ".jpg", alt="").sec6__list-img
            - }