section.sec.sec7
    div.sec7__top
        div.container
            p.l.semibold.ta-center.mb1.
                Для старта вам потребуется:
            div.sec7__list
                div.sec7__list-item
                    div.sec7__list-item-border.
                        1
                    div.sec7__list-item-text
                        p.m.
                            300 000 рублей на франшизу
                div.sec7__list-item
                    div.sec7__list-item-border.
                        2
                    div.sec7__list-item-text
                        p.m.
                            от 1,8 млн рублей на ремонт помещения и оборудование
                div.sec7__list-item
                    div.sec7__list-item-border.
                        3
                    div.sec7__list-item-text
                        p.m.
                            5 млн рублей в качестве оборотного капитала
    div.sec7__bottom
        div.container
            div
                p.mb0.
                    Окупаемость с учётом<br> 
                    нашего опыта:
                div.bold.sec7__bg-text
                    |уже на 2-ой год работы
                    img(src="img/sec8-img.png", alt="").sec7__img
