section.sec.sec8
    div.container.color-white
        div.sec8__row
            div.sec8__col
                p.l.
                    Сделайте первый шаг к открытию магазина с 60-милионным оборотом
                p.s.
                    проверьте, доступен ли ваш город для открытия по нашей франшизе?
            div.sec8__col
                include bottom-form